// Variables
@import "./variables";


// Bootstrap (if needed by your local overrides, otherwise package might include it or expect it)
@import "~bootstrap/scss/bootstrap";

// Import HashtagCMS JS Kit Styles (Source)
@import "~@hashtagcms/jskit/packages/styles/src/app";